<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Instagram Find Tags</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body ng-app="starter" ng-controller="MainCtrl" ng-init="executeSearch()">
    <div class="bar">
      <input type="text" ng-model="search" ng-enter="executeSearch()" placeholder="Procure por uma #hashtag">
    </div>
    
    <p class="msg-error" ng-show="error">Nenhum resultado encontrado para a hashtag :/</p>
    
    <ul class="grid" masonry='{ itemSelector: ".item", columnWidth: 220, gutterWidth: 20, isFitWidth: true, isAnimated: true }'>
      <li class="masonry-brick" ng-repeat="p in pics" >
        <a href="#" ng-click="showModal(p.id)">
          <img class="item" ng-src="{{ p.images.low_resolution.url }}" >
        </a>
      </li>
    </ul>

    <!-- Modal Content -->
    <div class="modal" ng-show="picture">
        <a href="#" class="modal-close" ng-click="closeModal()">x</a>
        <div class="row">
            <div class="modal-content">
                <div class="content-left">
                    <img src="{{ picture.images.standard_resolution.url }}" alt="">
                </div>
                <div class="content-right">
                    <div class="main-info">
                        <img src="{{ picture.user.profile_picture }}" title="{{ picture.user.username }}" alt="{{ picture.user.username }}" class="profile-img">
                        <span class="username"><a href="http://instagram.com/{{ picture.user.username }}" target="_blank">{{ picture.user.username }}</a></span>
                        <span class="caption">{{ picture.caption.text }}</span>
                    </div>
                    <ul class="comments">
                        <li class="comments-item" ng-repeat="comment in picture.comments.data">
                            <img src="{{ comment.from.profile_picture }}" title="{{ comment.from.username }}" alt="{{ comment.from.username }}" class="comment-user-img">
                            <span class="comment-username"><a href="http://instagram.com/{{ comment.from.username }}" target="_blank">{{ comment.from.username }}</a></span>
                            <p class="comment-text">{{ comment.text }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/masonry.js"></script>
    <script type="text/javascript" src="js/angular-masonry.js"></script>
    <script type="text/javascript" src="js/imagesloaded.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/services.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>
    <!--  <script src="js/script.js"></script> -->

  </body>

</html>















